{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<main class="container py-5 text-center">
    <h1 class="mb-3">Change Password</h1>
    <form action="/change" method="post">
        <div class="mb-3">
            <h4> Enter a username</h4>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <h4> Enter a password</h4>
            <input class="form-control mx-auto w-auto" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <h4> Enter a password</h4>
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <h4> Confirm password</h4>
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">REGISTER</button>
    </form>
</main>
{% endblock %}
